@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-left {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slide-in-left 0.5s ease-out forwards; /* 시간을 늘리고 ease-out 적용 */
}

.slide-in-right {
  animation: slide-in-right 0.5s ease-out forwards; /* 시간을 늘리고 ease-out 적용 */
}
